
:root {
--bg: oklch(0.96 0 35);
--text: oklch(0.15 0 35);
--return: oklch(0.6 0 35);
--border: oklch(0.6 0 35);
--primary: oklch(0.4 0.1 35);
--secondary: oklch(0.4 0.1 215);
--personal: oklch(0.5 0.10 30);
--course: oklch(0.5 0.10 100);
--write: oklch(0.5 0.10 160);
--misc: oklch(0.5 0.10 260);


--lamp: oklch(0.15 0 35);
  }
.dark {
--bg: oklch(0.15 0 35);
--text: oklch(0.96 0 35);
--return: oklch(0.8 0 35);
--border: oklch(0.4 0 35);
--primary: oklch(0.76 0.1 35);
--secondary: oklch(0.76 0.1 215);
--personal: oklch(0.7 0.05 30);
--course: oklch(0.7 0.05 100);
--write: oklch(0.7 0.05 160);
--misc: oklch(0.7 0.05 260);
}

.personal {
  color: var(--personal);
}
.course {
  color: var(--course);
}
.write {
  color: var(--write);
}
.misc {
  color: var(--misc);
}

.personal:hover {
  color: var(--personal);
  filter: saturate(2.2);
}

.course:hover {
  color: var(--course);
  filter: saturate(4);
} 

.write:hover {
  color: var(--write);
  filter: saturate(2.8);
}

.misc:hover {
  color: var(--misc);
  filter: saturate(2.5);
}


*{
  font-family: monospace;
}

body {
  background-color: var(--bg);
  color: var(--text);
  margin: auto;
  width: 95%;
}


button:hover {
  color: var(--secondary);
}

#dark-mode {
  background: none;
  border: none;
  padding: none;
  margin: -12px -1px 0 0;
  font-size: xx-large;
  color: var(--primary);
}

#dark-mode:hover {
  color: var(--secondary);
}
  
footer {
  margin-top: 2rem;
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  color: var(--secondary);
}

h2, h3 {
  margin-bottom: -1rem;
  padding-bottom: 0px;
}

#return {
  position: absolute;
  font-size: large;
  left: 2rem;
  top: 1.4rem;
  color: var(--return);
}

#return:hover {
  color: var(--text);
}

.border {
  border-color: var(--border);
}

.hide {
  display: none;
}

.file {
  padding: 0.3rem;
  width: fit-content;
}

.text {
  color: var(--text);
}

.note {
  color: var(--primary);
  backdrop-filter: invert(10%);
}

.table {
  margin: -1rem 2rem 0; 
  padding: 0 1rem 1rem; 
  border: double; 
  width: fit-content;
  min-width: 325px;
}

.pri {
  color: var(--primary);
}