section {
  margin: 1rem 1rem 1rem 0;
  display: flex;
  gap: 0.8rem 1rem;
  flex-wrap: wrap;
}

img {
  max-width: 32%;
}

footer {
  margin-top: 2rem;
}

@media screen and (max-width: 750px) {
  img {
  max-width: 48%;
  }
}